* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}

.header {
	padding: 6px 0;
	background-color: #0050b3;
}

.header-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-input {
	font-size: 14px;
	line-height: 22px;
	padding: 5px 30px 5px 12px;
	width: 336px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	background-image: url(../img/header/search-icon.svg);
	background-repeat: no-repeat;
	background-position: right 12px center;
}

.user {
	display: flex;
	align-items: center;
}

.user-avatar {
	margin-right: 8px;
}

.user-name {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
}