/* -----------------------------------------> Mobile L (425px) */
/* @media screen and (max-width: 425px) {} */
* {
    box-sizing: border-box;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}

/*----- Background ----- */

.main_header {
    background-image: url("../img/first_block__header/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* ----- Navigation bar ----- */

.navigation {
    position: absolute;
    width: 100vw;
    z-index: 1;
    background: rgba(27, 153, 193, 0);
}

/*  */
.header_fixed {
    position: fixed;
    width: 100vw;
    background: rgba(27, 153, 193, 1);
    z-index: 5;
}
/*  */

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_items {
    padding: 32px 80px;
}

.nav_link {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25;
    color: #ffffff;
    text-decoration: none;
}

/* ----- Main Block ----- */

.main_block__wrapper {
    display: flex;
    flex-direction: row;
}

/*------ Main Block - Left Side ------*/

.main_container_block {
    float: right;
    max-width: 900px;
}

.main_block__left_side {
    position: relative;
    background-color: rgba(27, 153, 193, 0.7);
    flex-basis: 75%;
    height: 99vh;
}

.main_block__left_side:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -100vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(27, 153, 193, 0.7);
}

.mb__ls_ultrasound_wrapper {
    display: flex;
    flex-direction: row;
    padding: 200px 40px 40px 0;
}

.mb__ls_ultrasound > h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 8.6rem;
    line-height: 110px;
    color: #ffffff;
    padding: 0 20px 0 0;
}

.mb__ls_ultrasound_text > p {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 41px;
    color: #ffffff;
    padding: 0 0 28px 0;
}

.mb__ls_tel_wrapper {
    display: flex;
    flex-direction: column;
}

.mb__ls_tel_first_link,
.mb__ls_tel_second_link {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    text-decoration: none;
}

.mb__ls_tel_first {
    padding: 0 0 30px 0;
}

.mb__ls_button_wrapper {
    padding: 40px 0 110px 0;
}

.mb__ls_button {
    padding: 15px 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    transition: 0.4s ease-in;
}

.mb__ls_button:hover {
    color: #1B99C1;
    background-color: #ffffff;
    transition: 0.4s ease-in;
}

.mb__ls_down_arrow_wrapper {
    float: right;
    padding: 0px 185px 0 0;
    margin: 0 auto;
    width: 240px;
    height: 90px;
}

.mb__ls_down_arrow {
    width: 100%;
    height: 100%;
}

/*------  Main Block - Right Side ------*/

.main_block__right_side {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    flex-basis: 25%;
    height: 99vh;
}

.main_block__right_side:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -100vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.mb__rs_content_wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 188px;
}

.mb__rs_content {
    display: flex;
    flex-direction: row;
    padding: 30px 0 30px 25px;
}

.mb__rs_content_img {
    width: 56px;
}

.mb__rs_content_text {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 151.4%;
    color: #1B99C1;
    padding: 0 0 0 36px;
    margin: auto 0;
}

/* ----- Second Block ----- */

.second_block__title {
    padding-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    color: rgba(27, 153, 193, 0.7);
    text-align: center;
}

.second_block__wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

/* ------ Left Side ------ */

.second_block__left_side {
    width: 50%;
}

.sb_ls_awp_block {
    padding: 20px 20px;
}

.second_block__left_img {
    width: 34px;
    height: 34px;
}

.second_block__left_h6 {
    display: inline-block;
    vertical-align: middle;
    padding:  0 180px 0 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #1B99C1;
}

.second_block__left_p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #010036;
    padding:10px 0 0 92px ;
}

.second_block__left_tel {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #010036;
    padding:10px 0 0 92px ;
    text-decoration: none;
}

.left_block_tel-2 {
    padding:10px 0 0 30px
}

/* ------ Right Side ------ */

.second_block__right_side {
    width: 50%;
}

.sb_rs__map_wrapper {
    position: relative;
    width: 650px;
    height: 372px;
    margin: 50px 0 0 20px;
    /* border: 15px solid rgba(27, 153, 193, 0.7); */
}

.sb_rs__map_wrapper:before {
    content: '';
    position: absolute;
    top: 141px;
    left: -20px;
    width: 90px;
    height: 250px;
    z-index: -1;
    background-color: rgba(27, 153, 193, 0.7);
}

.sb_rs__map_wrapper:after {
    content: '';
    position: absolute;
    top: -19px;
    right: -20px;
    width: 90px;
    height: 250px;
    z-index: -1;
    background-color: rgba(27, 153, 193, 0.7);
}

.sb_rs__map_wrapper>iframe {
    width: 100%;
    height: 100%;
}

/* ----- Third Block ----- */

.third_block {
    background-image: url("../img/first_block__header/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.third_block__wrapper {
    display: flex;
    flex-direction: row;
}

/* Left Block */

.third_block__left_block {
    position: relative;
    flex-basis: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 99vh;
}

.third_block__left_block:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -100vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.third_block__left_block {
    display: flex;
    align-items: center;
}

.third_block__left_block_h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 51px;
    color: #1B99C1;
    padding: 0 25px 0 0;
}

/* Right Block */

.third_block__right_block {
    position: relative;
    flex-basis: 70%;
    background-color: rgba(3, 128, 168, 0.8);
    height: 99vh;
}

.third_block__right_block:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -100vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(3, 128, 168, 0.8);
    overflow: hidden;
}

.tb__list_of_services_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0 0 50px;
}

.tb__list_of_services>ul>li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 2.5;
    color: #ffffff;
}

.buttons_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
    padding: 40px 0 0 55px;
}

/* ----- Fourth Block -----*/

.fourth_block_h3_text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: rgba(27, 153, 193, 0.7);
    padding: 80px 0 50px 0;
}

.fourth_block__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
}

.fourth_block__block_content_box {
    width: 30%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 0 10px #000000;
}

.fourth_block__block_content_box_img {
    height: 208px;
}

.fourth_block__block_content_box_h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 207.19%;
    text-align: center;
    text-transform: uppercase;
    color: #1B99C1;
    padding: 10px 0;
}

.fourth_block__block_content_box_p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 173.19%;
    text-align: center;
    color: #010036;
}

/* ----- Fifth Block ----- */

.fifth_block__wrapper {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

/* Left */
.fifth_block__left_block {
    width: 30%;
}

.fifth_block__left_block_img {
    width: 100%;
}

/* Centre */
.fifth_block__centre_block {
    width: 40%;
    padding-top: 30px;
}

.fifth_block__centre_block_h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 34px;
    line-height: 60px;
    color: #010036;
}

.fifth_block__centre_block_h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 60px;
    color: #010036;
}

.fifth_block__centre_block_ul {
    padding: 35px 0 0 60px;
}

.fifth_block__centre_block_ul>li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 53px;
    color: #010036;
}

/* Right */
.fifth_block__right_block {
    width: 30%;
    margin: auto 0;
}

.fifth_block__right_block_h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    text-align: right;
    color: #1B99C1;
}

/* ------ Sixth Block ------ */

.sixth_block {
    background-image: url("../img/sixth_block__doctor/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.sixth_block__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
}

.sixth_block__photo_wrapper {
    position: absolute;
    top: 350px;
    left: 740px;
    z-index: 1;
    width: 530px;
}

.sixth_block__photo_doc {
    width: 100%;
    height: 100%;
}

/* Left side */
.sixth_block__left_side {
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(27, 153, 193, 0.7);
    flex-basis: 70%;
    height: 100vh;
}

.sixth_block__left_side:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -100vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(27, 153, 193, 0.7);
}

.sixth_block__left_side_ul_block {
    margin: 0 180px 0 0;
}

.sixth_block__left_side_ul_block>li {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    padding: 10px 0;
}

/* Right side  */
.sixth_block__right_side {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    flex-basis: 30%;
    height: 100vh;
}

.sixth_block__right_side:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -100vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.sixth_block__right_side_wrapper {
    padding: 100px 0 0 50px;
}

.sixth_block__right_side_h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    text-align: right;
    text-transform: uppercase;
    color: #1B99C1;
}

/*------ Footer  ------*/

.carousel-container {
    display: block;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}

.carousel-container_h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #1B99C1;
    padding: 30px 0px;
    position: relative;
    left: -20px;
}

.carousel-slides {
    width: 100%;
    height: 100%;
    position: relative;
    left: 30%;
    top: 0;
}

.slide {
    position: absolute;
    top: 0;
}

.slide:nth-child(1) {
    left: 0;
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(4) {
    left: 300%;
}

.slide:nth-child(5) {
    left: 400%;
}

.slide:nth-child(6) {
    left: 500%;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 115%;
    position: absolute;
    top: 260px;
    left: -94px;
}

.btn {
    width: 70px;
    height: 70px;
    background-image: url('../img/seventh_block_certificates/left_arrow.png');
    background-position: 0 0;
    background-size: cover;
    border: 1px solid #1B99C1;
    transition: 0.4s ease-in;
}

.btn:hover {
    background-image: url('../img/seventh_block_certificates/left_arrow_hover.png');
    background-color: #1B99C1;
    transition: 0.4s ease-in;
}

.btn:nth-child(2) {
    transform: rotate(180deg);
}