* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  /* width: 700px; */
  height: 700px;
  display: grid;

  /* первое значение это минимальное а второе максимальное (пишем через запятую) 1 minmax это 1 колонка что бы получить 3 колонки нужно 3 раза указать minmax */
  grid-template-columns: minmax(100px, 300px) minmax(100px, 300px) minmax(100px, 300px);

  /* Аналогично верхнему, minmax можно использовать в функции repeat */
  grid-template-columns: repeat(3, minmax(100px, 300px)) ;

/* Можно заменить количество колонок на auto-fill и тогда количество колонок будет формироваться автоматически в зависимости от размера икрана */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;

  /* auto-fit в отличии от auto-fill растягивает блоки на все свободное пространство страницы а auto-fill занимает определенную ширину и оставляет свободное пространство под следующие блоки */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) ;

  /*  Со строками чаще используют minmax(100px, auto) для указания минимальной высотой а если контент будет добавляться то и row будет увеличиваться без ограничений*/
  grid-template-rows: repeat(5, minmax(100px, auto));

  /* Меняет порядок колонок теперь последовательность становиться с верху в низ а по дефолту всегда слева на право */
  grid-auto-flow: column;

  grid-auto-rows: 200px;
  gap: 2px;
}

.grid-elem {
  background-color: rgba(1, 1, 96, 1);
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #000;
  border-radius: 4px;
}