* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  /* width: 700px; */
  height: 500px;
  display: grid;
  /* grid-template-columns: repeat(3, minmax(150px, 300px)); */

  /* Именование строк, в [] мы указываем имя линии к которой потом можем обращаться по имени последняя 4 это замыкающая линия*/
  grid-template-columns: [col_1s] 150px [col_2s] 150px [col_3s] 150px [col_4s];

  grid-template-rows: repeat(3, minmax(100px, auto));
  grid-auto-rows: minmax(100px, auto);
  gap: 5px;
}

.grid-elem {
  background-color: rgba(1, 1, 96, 1);
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #000;
  border-radius: 4px;
}

/* Сетку мы уже указываем каждому отдельному блоку (не в display: grid; как было ранее) */

#first {
  
  grid-column-start: 1;
  grid-column-end: 3;
}

#second {
  /* Обозначает где начинается колонка и где заканчивается (1 и 3 это номер линии) */
  grid-column-start: 3;
  grid-column-end: 4;

  /* Сокращение (начало / конец) */
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

#third {
  /* Обращение к именованным линиям */
  grid-column: col_2s / col_3s;
  grid-row: 2 / 4;
}